body {
    font-family: 'Lato', Geneva, sans-serif;
}

h1 {
    font-weight: 900;
    font-size: 3em;
    text-align: right;
    padding: .25em 1em 0 0;
    text-shadow: 1px 1px 10px hsla(0, 0, 0, .75);
    color: #fff;
}